---
---

// Config
// ===========================================================================

@import 'minireset'
@import 'chart'
@import 'story'

// Base
// ===========================================================================

html, body
  font-size: 16px

// Utility
// ===========================================================================

.f1
  flex: 1

// TODO: refactor
// ===========================================================================

@mixin relative-font-size($ratio)
  font-size: 16px * $ratio

blockquote
  color: #828282
  border-left: 4px solid lighten(#828282, 40%)
  padding-left: 30px / 2
  @include relative-font-size(1.125)
  letter-spacing: -1px
  font-style: italic
  > :last-child
    margin-bottom: 0
