---
---

// Config
// ===========================================================================

@import 'minireset'

@import 'button'
@import 'colors'
@import 'chart'
@import 'form'
@import 'margin'
@import 'shadow'
@import 'tour'
@import 'typography'

// Base
// ===========================================================================

html, body
  background-color: map-get($colors, 'aubergine')
  color: map-get($colors, 'white')
  font-size: 16px
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased

a
  color: map-get($colors, 'turquoise')
  text-decoration: none
  &:hover
    text-decoration: underline

hr
  border-color: map-get($colors, 'pale-purple')
  border-style: solid

::-webkit-scrollbar
  width: 9px
  height: 9px

::-webkit-scrollbar-track
  background: rgba(0, 0, 0, 0.1)

::-webkit-scrollbar-thumb
  background: rgba(0, 0, 0, 0.5)

// Utility
// ===========================================================================

.flex
  display: flex
.f1
  flex: 1

// Home
// ===========================================================================

.home-container
  display: flex
  flex-direction: column
  min-height: 100vh
  padding: 0 15px
  text-align: center
  align-items: center
  background: url('{{ site.baseurl }}/assets/images/bg-circles.svg') no-repeat
  background-size: 1500px
  background-position: center
  @media screen and (max-width: 720px)
    background-size: 1000px
  @media screen and (max-width: 480px)
    background-size: 500px
.home-main
  flex: 1
  display: flex
  align-items: center
.home-footer
  width: 290px
  font-size: 15px

// Cookie banner
// ===========================================================================

#cookie-banner
  position: fixed
  display: block
  max-width: 250px
  bottom: 15px
  right: 15px
  z-index: 9999
  font-size: 0.9rem
  background: map-get($colors, 'light-purple')
  @media screen and (max-width: 480px)
    right: calc(50% - 125px)
