---
layout: default
---

<div class="home-container bg-purple">

  <div class="home-main">
    <div>
      <a href="/">
        <img src="{{ site.baseurl }}/assets/images/logo.svg" width=256 alt="Slice and Dice logo" class="mt25 mb25">
      </a>

      <h1 class="white">
        A tool to explore
        <a href="http://grantnav.threesixtygiving.org/" target="_blank">GrantNav</a>
        searches visually
      </h1>

      <blockquote class="definition">
        <h2>slice and dice</h2>
        <em>phrase</em>
        <p>divide a quantity of information up into smaller parts, especially in order to analyse it more closely or in different ways.</p>
      </blockquote>

      <a href="{{ site.baseurl }}/tour/01-tech-grant-funding-over-the-years" class="btn btn-wide white bg-teal shadow mx-auto mb25">Get started</a>

      <div class="mb25">
        <a href="{{ site.baseurl }}/tool">Skip tour</a>
      </div>
    </div>
  </div>

  <footer class="home-footer mb25">
    <hr class="mb25">
    <a href="http://www.suninthesky.co.uk/" target="_blank" class="white">By suninthesky</a>
    <span class="dark-purple">•</span>
    <a href="https://github.com/suninthesky/slice-and-dice" target="_blank" class="white">GitHub</a>
  </footer>

</div>