---
layout: minimal
---

<article class="flex" itemscope itemtype="http://schema.org/BlogPosting">

  <aside class="sidebar">
    <header>
      <h1 class="" itemprop="name headline">{{ page.title | escape }}</h1>
    </header>

    <label for="slice">Slice by:</label>
    <select name="slice" id="slice">
      <option value="query">Query</option>
      <option value="funder">Funder</option>
      <option value="fund">Fund</option>
      <option value="year">Year</option>
      <option value="location">Location</option>
    </select>

    <div itemprop="articleBody">
      {{ content }}
    </div>
  </aside>

  <section>
    {% include chart.html %}
  </section>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
