---
layout: default
---

<article class="story-wrapper" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="sidebar-wrapper">
    <aside class="sidebar">
      <div class="f1">
        <header>
          <h1 class="" itemprop="name headline">{{ page.title | escape }}</h1>
        </header>

        <div id='story-query' hidden>{{ page.query }}</div>

        {% if page.form %}
        <form id='query'>
          <input type="text" name="q">
          <input type="submit" value="Update">
          <input type="reset" value="Clear">
        </form>
        {% endif %}

        <label for="slice">Slice by:</label>
        <select name="slice" id="slice">
          <option value="funder">Funder</option>
          <option value="fund">Fund</option>
          <option value="year">Year</option>
          <option value="location">Location</option>
          <option value="duration">Duration (months)</option>
        </select>

        <div itemprop="articleBody">
          {{ content }}
        </div>
      </div>

      <footer>
        {% if page.prev %}
        <a href="{{ page.prev }}">Prev</a>
        {% endif %}

        {% if page.next %}
        <a href="{{ page.next }}">Next</a>
        {% endif %}

        <hr>

        Links...
      </footer>
    </aside>
  </div>

  <section class="chart-wrapper">
    <div id="tooltip"></div>
    <div id="chart"></div>
  </section>
</article>
